iframe {
  position: relative;
  width: 100%;
}

.resize {
  background-color: rgb(181, 181, 181);
  position: relative;
  bottom: 0;
  height: 8px;
  width: 100%;
  cursor: w-resize;
  cursor: s-resize;
}

.container {
  width: 90vw;
  height: 100%;
}

.canvasCon {
  height: 650px;
  position: absolute !important;
  width: 1000px !important;
  left: 16px;
  background-color: white;
  margin-top: 10px;
}

.banner {
  display: flex;
}

.banner-items {
  margin-left: 5%;
}
